.pad-header {
    color: #d6a05a;
    padding: 30px;
}

.dev-style {
    justify-content: space-between;
    display: flex;

}

.nav-color {
    background-color: rgb(74, 48, 83);
}

.text-color {
    color: white;
}

.back-color-app {
    background-color: rgb(63, 36, 72);
}

.search-back-ground {
    background-color: rgb(63, 36, 72);
}

.show-color {
    color: #ef8d0d
}

.bg-button {
    background-color: #ef8d0d;
}
.spinner{
    position: absolute;
}
